
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
            url('../fonts/icomoon.woff') format('woff'),
            url('../fonts/icomoon.ttf') format('truetype'),
            url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Avenir Next", sans-serif;
}

h2, h3 {
    font-size: 1.25em;
    color: #5f5d60;
    margin-bottom: 16px;
    margin-top: 0;
}

p {        
    color: black;
    line-height: 1.7;
    font-size: 1.1em;
    font-weight: 200;
}


.thin-navbar {
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    width: 100%;
    z-index: 99;
}

.button {
    display: inline-block;
    color: #fafafa;
    background-color: #009B95;
    margin-top: .5em;
    border: 3px solid white;
    padding: .3em .5em .3em .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

}

.boundry {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}


.container {
    padding-top: 30px;
}

/*Content Containers*/
.content_container {
    height: 100vh;
    width: 100vw;   
    margin-bottom: 3px;

}

/*Jumbrotron*/
.jumbotron {                 
    padding-top: 30vh;
    background-color: #FFFFFF; 
    
}

#rs-logo {            
    margin: 0 auto;         
}

#rs-quote {
    margin-top: 25px;
    text-align: center;    
}



/*About Us*/
#about-us {
    background-color: #009B95;
}


/*Why We Exist*/
#why_exist {
 
}


/*How We Work*/
#how_we_work {
 
}

#tool_icons {
    height: 50px;
    /*text-align: justify;*/
    font-size: 0.1px; /* IE 9/10 don't like font-size: 0; */
    /*min-width: 600px;*/
}

#tool_icons div {
    width: 80px;
    height: 60px;
    margin: 0 3px;
    float: left;
}

#tool_icons:after {
    content: '';
    width: 100%;  /*Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
}

#tool_icons img {
    max-width: 100%;
    display: block;
    margin: auto auto;
}

/*What We Do*/
#what_we_do {
        
}

/* Bios (Who We Are) */
#bios {
    background-color: #FFFFFF; 
}

.bio-image {
    width: 175px;
}

/*Footer*/
.footer_container {
    height: 50vh;
    width: 100vw;
    
    padding-top: 20vh;
    text-align: center;

    background-color: #009B95;   

    font-family: "brandon-grotesque", ​Helvetica, ​Arial, sans-serif;
    font-size: 1.75em;
}

#footer-btn {
    background-color: #FF7100;
}

/* Media Queries
================================= */
@media (max-width: 767px) {

h1 {
    font-size: 2em;        
}

.content_container {
    height: 100%;

}

.jumbotron {
    height: 100vh;
}

.footer_container {
    
    font-size: 1.1em;
}

}



@media (min-width: 768px) and (max-width: 991px) {

.content_container {
    height: 100%;

}


}
@media (min-width: 992px) and (max-width: 1199px) {


}
@media (min-width: 1200px) {

}
